.editFormContainer {
  margin: 10rem auto;
  &.hide {
    display: none;
  }
}
.transactions {
  margin-top: 10px;
  &.hide {
    display: none;
  }
  .transaction {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0 5px 0;
    border-top: 1px solid #30313d;
    &:first-child {
      border-top: 0;
    }
    .left {
      .editComponent {
        margin-top: -1.7rem;
        margin-left: -1.3rem;
      }
      .name {
        font-size: 1rem;
      }
      .description {
        font-size: 0.7rem;
        color: #888;
      }
    }
    .right {
      text-align: right;
      .deleteComponent {
        margin-top: -1.7rem;
        margin-right: -1.3rem;
      }
      .price {
        &.green {
          color: #1c1;
        }
        &.red {
          color: #c11;
        }
      }
      .datetime {
        font-size: 0.7rem;
        color: #888;
      }
    }
  }
}
